Procfile
modelos/cd_pt.json
modelos/cd_pt.txt
templates/profiler.html
output.pdf
dados.xlsx
create_venv.bat
call_venv.bat
cur_env
~$* 
dados_planilha.xlsx
templates/cvx.html
.gitignore
modelos/cd_pt.json
modelos/* 
!modelos/exemplo*
curriculos/*
!curriculos/exemplo*
!curriculos/versoes
curriculos/versoes/*
.env
ai.py
a.csv
profiler.py
requirements - Copia.txt
call_venv - Copia.bat
create_venv - Copia.bat
requirements - Copia.bat
Readme.md
issues
gcvenv
__pycache__