* {
    font-family: "Calibri", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #aaafff;*/
    font-size: 10pt;

}
.no-print {
            display: none;
        }
.center{
    text-align: center;
}
.section ul li span {
    line-height: 1.2em;
}
.container {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 1em;
     
}
h2.resumo{
    text-transform: none ;
    font-weight: 400;
        font-style: italic;
    font-size: 1.8em;
    text-align: center;
}

div.section
{
    page-break-inside: avoid;
}
div.section.resumo
{  
margin-top: 1.5em;
}

div.controls{
    background-color: #f1f1f1; /* Apenas para visibilidade */ 
    margin: 0.1em;
}
 
ul.no-bullet {
    list-style-type: none;
}
ul.no-bullet li{
 margin-left: 0em!important
}

footer {
    text-align: center;
    background-color: #f1f1f1; /* Apenas para visibilidade */
    padding: 0.5em;
}

h1, h2, h3 {
    color: #333;
}
h1{
    margin: 0.1em;
    text-transform: uppercase;
    font-size:3em;
} 

h2{
    margin: 0.05em;
    margin-left: 0;
    text-transform: uppercase;
    font-size:2em;
}     
h3{
    margin: 0.025em;
    font-size: 1.25em;
}

div.item{
    margin-bottom: 0px;
}
div.d-flex{
    margin-top:0.5em;
    display: flex;
}
div.flex-items{
    margin-right:30px;
}
span.where{
    font-weight: 400;
    font-style: italic;
}

ul.no-bullet li {
    margin-top: 0.6em;
}

li b, div.flex-items b{
     font-size: 1.25em;

}
.header, .section {
    margin-bottom: 1em;
}
.header {
    text-align: center;
}
.header img {
    border-radius: 50%;
}
.section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}
.section:last-of-type {
    border-bottom: none;
}
.section h2 {
    /*margin-bottom: 10px;*/
}
.section h3 {
    margin-top: 0.6em;
}
.section p,li span.p 
{
    line-height: 1.1em;
    margin: 0px; 
}

.section ul {
    margin-top: 1em;
    padding: 0;
    line-height: 1em;
} 
.section ul li { 
    margin-left: 3em;
}
