* {
    font-family: "Calibri", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
}

:root {
    --primary-button-color: #2563d5;
    --primary-button-color-hover: #427ff1; 
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #aaafff;*/
    font-size: 10pt;

}

.opacity-0{
    opacity: 0;
}
.no-print {
            display: none!important;
        }
.center{
    text-align: center;
}
.section ul li span {
    line-height: 1.2em;
}

.section .odd{
    background: #f1f1f1; 
}
.container {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 1em;
     
}
h2.resumo{
    text-transform: none ;
    font-weight: 400;
        font-style: italic;
    font-size: 1.8em;
    text-align: center;
}

div.section
{
    page-break-inside: avoid;
}
div.section.resumo
{  
margin-top: 1.5em;
}

div.controls{
    background-color: #f1f1f1; /* Apenas para visibilidade */ 
    margin: 0.1em;
}
 
ul.no-bullet {
    list-style-type: none;
}
ul.no-bullet li{
 margin-left: 0em!important
}

footer {
    text-align: center;
    background-color: #f1f1f1; /* Apenas para visibilidade */
    padding: 0.5em;
}

h1, h2, h3 {
    color: #333;
}
h1{
    margin: 0.1em;
    text-transform: uppercase;
    font-size:3em;
} 

h2{
    margin: 0.05em;
    margin-left: 0;
    text-transform: uppercase;
    font-size:2em;
}     
h3{
    margin: 0.025em;
    font-size: 1.25em;
}

div.item{
    margin-bottom: 0px;
}
div.d-flex{
    margin-top:0.5em;
    display: flex;
}
div.flex-items{
    margin-right:30px;
}
span.where{
    font-weight: 400;
    font-style: italic;
}

ul.no-bullet li {
    margin-top: 0.6em;
}

li b, div.flex-items b{
     font-size: 1.25em;

}
.header, .section {
    margin-bottom: 1em;
}
.header {
    text-align: center;
}
.header img {
    border-radius: 50%;
}
.section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}
.section:last-of-type {
    border-bottom: none;
}
.section h2 {
    /*margin-bottom: 10px;*/
}
.section h3 {
    margin-top: 0.6em;
}
.section p,li span.p 
{
    line-height: 1.1em;
    margin: 0px; 
    max-width: 90%;
}

.section ul {
    margin: 0;
    padding: 0;
    line-height: 1em;
} 
.section ul li { 
    margin-left: 3em;
}
.title-date{
    display: flex;
     justify-content: space-between;
     align-items: baseline; 
}

div.item div div p {
    line-height: 1.2em;
    margin-bottom: 0.5em;
}
span.b{
    font-weight: 800; 
}

.item div div {
    max-width: 90%;
}

#footer { 
    position: fixed;
    width: 100%;
    bottom: 0;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4; /* Cor de fundo opcional */
}

#save-pdf {
    background-color: var(--primary-button-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#save-pdf:hover {
    background-color: var(--primary-button-color-hover);
}

#usuario div {
    background-color: var(--primary-button-color); 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
 
}

#usuario div:hover {
    background-color: var(--primary-button-color-hover);
    text-decoration: none;
}

#usuario  { 
    text-decoration: none;
}

.user-info {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

a.button: hover{
    background-color: #007bff55;
     text-decoration: none;
}
 
.button {
    background-color: var(--primary-button-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: -webkit-fill-available;

}
.button:hover {
    background-color: var(--primary-button-color-hover);
     display: block;
     text-decoration: none;
}


h1.versao {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
 
.versoes {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
        
.versoes th, .versoes td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.versoes th {
    background-color: #5591ff;
    color: white;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #fff!important;
}

table.dataTable.versoes tbody tr:hover td {
    background-color: #e9ecef; /* Cor de fundo ao passar o mouse */
}

a.versao  {
    text-decoration: none!important;
    color: inherit; /* Herda a cor do elemento pai */
    display: block; /* Faz o link abranger toda a linha */
}

table.dataTable.no-footer.versoes{
    border: 0;
}

 

.dataTables_info {
    text-align: center;
    width: 100%;
}

.dataTables_wrapper .row:nth-child(2) {
    display: flex;
    justify-content: center;
}

#datatable_wrapper{
padding: 2rem;
}

.centered-div{
    text-align: center;
    width: -webkit-fill-available;
}