<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Currículo</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script> 
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    </head>
    <body>
        <style type="text/css">
            body {
        font-family: Arial, sans-serif;
        font-size: 10pt; /* Adjust the base font size */
    }

    h1 {
        font-size: 18px; /* Adjust the font size for headers */
    }
        </style>
        <button id="save-pdf">Save as PDF</button>

        <script>
            document.getElementById('save-pdf').addEventListener('click', () => {
                const element = document.body;
                const opt = {
                    margin:       0,
                    filename:     '{{ "resume_en.pdf" if idioma == "en" else "curriculo_pt.pdf" }}',
                    image:        { type: 'jpeg', quality: 1 },
                    html2canvas:  { scale: 2},
                    jsPDF:        { unit: 'mm', format: 'a4', orientation: 'portrait' }
                };

                document.getElementById('save-pdf').classList.add('no-print');
                // New Promise-based usage:
                html2pdf().from(element).set(opt).save().then(() => {
                    // Remove the 'no-print' class after the PDF is generated
                    document.getElementById('save-pdf').classList.remove('no-print');
                });
            });
        </script>
        <main>
        {% block content %}{% endblock %}
        </main>
        <footer>
        <p>&copy; 2024 GAMARP</p>
    </footer>
    </body>
</html>