<div class="section" name="experiencias">
    <h2>{{sessoes.experiencias}}</h2>
    {% for experiencia in experiencias %} 
    <div class="item">
        <div class="title-date">
             <div><h3 class="item" ><b>{{ experiencia.cargo }}</b> <span class='where'>{{ experiencia.empresa }}: </span></h3></div>  
        <!--<span class="item"><i></i></span>  --> 
        <div><span style="margin: 0;">{{ experiencia.duracao }}</span></div></div>
        <p>{{ experiencia.descricao }}</p>
            {% if experiencia.tem_detalhe %}
            <ul>
                {% if experiencia.detalhe1 != '' %} <li><span>{{ experiencia.detalhe1 }}</span></li>{% endif %} 
                {% if experiencia.detalhe2 != '' %} <li><span>{{ experiencia.detalhe2 }}</span></li>{% endif %} 
                {% if experiencia.detalhe3 != '' %} <li><span>{{ experiencia.detalhe3 }}</span></li>{% endif %} 
                {% if experiencia.detalhe4 != '' %} <li><span>{{ experiencia.detalhe4 }}</span></li>{% endif %} 
                {% if experiencia.detalhe5 != '' %} <li><span>{{ experiencia.detalhe5 }}</span></li>{% endif %} 
            </ul>
            {% endif %}  
     </div> 
    {% endfor %} 
</div>