<div class="section" name="experiencias">
    <h2>{{sessoes.experiencias}}</h2>
    {% for experiencia in experiencias %} 
    <div class="item">
        <div style="display: flex; justify-content: space-between;">
             <div><h3 class="item" ><b>{{ experiencia.cargo }}</b> <span class='where'>{{ experiencia.empresa }}: </span></h3></div>  
        <!--<span class="item"><i></i></span>  --> 
        <div><span style="margin: 0;">{{ experiencia.duracao }}</span></div></div>
        <p>{{ experiencia.descricao }}</p>
            {% if experiencia.tem_detalhe %}
            <ul>
                {% if experiencia.detalhe_1 != '' %} <li><span>{{ experiencia.detalhe_1 }}</span></li>{% endif %} 
                {% if experiencia.detalhe_2 != '' %} <li><span>{{ experiencia.detalhe_2 }}</span></li>{% endif %} 
                {% if experiencia.detalhe_3 != '' %} <li><span>{{ experiencia.detalhe_3 }}</span></li>{% endif %} 
                {% if experiencia.detalhe_4 != '' %} <li><span>{{ experiencia.detalhe_4 }}</span></li>{% endif %} 
                {% if experiencia.detalhe_5 != '' %} <li><span>{{ experiencia.detalhe_5 }}</span></li>{% endif %} 
            </ul>
            {% endif %}  
     </div> 
    {% endfor %} 
</div>