<div class="section" name="experiencias_adicionais">
    <h2>{{sessoes.experiencias_adicionais}}</h2>
    {% for experiencia_adicional in experiencias_adicionais %} 
    <div class="item">
        <div style="display: flex; justify-content: space-between;">
             <div><h3 class="item" ><b>{{ experiencia_adicional.cargo }}</b> <span class='where'>{{ experiencia_adicional.empresa }}: </span></h3></div>  
        <!--<span class="item"><i></i></span>  --> 
        <span style="margin: 0;">{{ experiencia_adicional.duracao }}</span></div>    
    <p>{{ experiencia_adicional.descricao }}</p>
        {% if experiencia_adicional.tem_detalhe %}
                <ul>
                    {% if experiencia_adicional.detalhe_1 != '' %} <li><span>{{ experiencia_adicional.detalhe_1 }}</span></li>{% endif %} 
                    {% if experiencia_adicional.detalhe_2 != '' %} <li><span>{{ experiencia_adicional.detalhe_2 }}</span></li>{% endif %} 
                    {% if experiencia_adicional.detalhe_3 != '' %} <li><span>{{ experiencia_adicional.detalhe_3 }}</span></li>{% endif %} 
                    {% if experiencia_adicional.detalhe_4 != '' %} <li><span>{{ experiencia_adicional.detalhe_4 }}</span></li>{% endif %} 
                    {% if experiencia_adicional.detalhe_5 != '' %} <li><span>{{ experiencia_adicional.detalhe_5 }}</span></li>{% endif %} 
                </ul>
                {% endif %} 
     </div> 
    {% endfor %} 
</div>  
