<div class="section" name="formacao">
    <h2>{{sessoes.formacao}}</h2>
    {% for formacao in formacoes %}
    {% if formacao.tipo == 'principal' %}
    <div class="item">
        <div style="display: flex; justify-content: space-between;">
            <h3 class="item"><b>{{ formacao.curso }}</b></h3>
            <span style="margin: 0;">{{ formacao.duracao }}</span>
        </div>
        <h3 class="item"><i>{{ formacao.instituicao }}</i></h3>     
        <p>{{ formacao.descricao }}</p>
        {% if formacao.tem_detalhe %}
            <ul>
                {% if formacao.detalhe_1 != '' %} <li><span>{{ formacao.detalhe_1 }}</span></li>{% endif %} 
                {% if formacao.detalhe_2 != '' %} <li><span>{{ formacao.detalhe_2 }}</span></li>{% endif %} 
                {% if formacao.detalhe_3 != '' %} <li><span>{{ formacao.detalhe_3 }}</span></li>{% endif %} 
                {% if formacao.detalhe_4 != '' %} <li><span>{{ formacao.detalhe_4 }}</span></li>{% endif %} 
                {% if formacao.detalhe_5 != '' %} <li><span>{{ formacao.detalhe_5 }}</span></li>{% endif %} 
            </ul>
            {% endif %} 
    </div>
    {% endif %} 
    {% endfor %}  
</div>