<div class="section" name="formacao_complementar">
    <h2>{{sessoes.formacao_complementar}}</h2>
    {% for formacao_complementar in formacoes_complementares %} 
    <div class="item">
        <div style="display: flex; justify-content: space-between;">
            <div><h3 class="item" style="margin: 0;"><b>{{ formacao_complementar.curso }}</b> <span class='where'>{{ formacao_complementar.instituicao }}</span></h3></div><div><span style="margin: 0;">{{ formacao_complementar.duracao }}</span></div>
        </div> 
        <p>{{ formacao_complementar.descricao }}</p>
    </div> 
    {% endfor %}  
</div>