<div class="section" name="formacao_complementar">
    <h2>{{sessoes.formacao_complementar}}</h2>
    {% for formacao_complementar in formacoes_complementares %} 
    <div class="item">
        <div class="title-date">
            <div><h3 class="item" ><b>{{ formacao_complementar.curso }}</b> <span class='where'>{{ formacao_complementar.instituicao }}</span></h3></div><div><span style="margin: 0;">{{ formacao_complementar.duracao }}</span></div>
        </div> 
        <p>{{ formacao_complementar.descricao }}</p>
        {% if formacao_complementar.tem_detalhe %}
            <ul>
                {% if formacao_complementar.detalhe1 != '' %} <li><span>{{ formacao_complementar.detalhe1 }}</span></li>{% endif %} 
                {% if formacao_complementar.detalhe2 != '' %} <li><span>{{ formacao_complementar.detalhe2 }}</span></li>{% endif %} 
                {% if formacao_complementar.detalhe3 != '' %} <li><span>{{ formacao_complementar.detalhe3 }}</span></li>{% endif %} 
                {% if formacao_complementar.detalhe4 != '' %} <li><span>{{ formacao_complementar.detalhe4 }}</span></li>{% endif %} 
                {% if formacao_complementar.detalhe5 != '' %} <li><span>{{ formacao_complementar.detalhe5 }}</span></li>{% endif %} 
            </ul>
            {% endif %}  
    </div> 
    {% endfor %}  
</div>